/* Page */

/* Mobile Device Check */
@media only screen and (max-width: 768px) {
    /* Adjust the max-width value as needed for your specific breakpoint */
    .element-to-hide {
      display: none;
    }
}

/* Font */
@font-face {
    font-family: 'GaMaamli'; /* Give your font a unique name */
    src: url('src/fonts/GaMaamli-Regular.ttf') format('truetype'); /* Adjust the path and format as needed */
}
/* Text */
.PageTitle {color: brown; font-size: 50px; }
.BarTitle {color: white; text-align: center; }
.barmenu {background-color: gray; }
.BodyTitle {color: white; }
.BodyText {color: white; font-size: 18px; margin-left: 10px; margin-right: 10px;}
.WIP {
    text-align: center;
    font-family: GaMaamli;
    text-shadow: -2px -2px 0 #ff9326, 2px 2px 0 #ff9326;
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: -10px;
}

/* HR */
.DivHR {border: 2px solid gray; width: 100%; margin: 1px 0; }
.DivHR2 {border: 1px solid black; width: 99%; margin: 2px 0; }

/* Div */
.BodyDiv {background-color: gray; align-items: center; text-align: center; display: flex; margin-top: 15px; justify-content: center;}
.BodyDiv1 {background-color: #1b385d; width: 20%;margin-right: 10px; }
.BodyDiv2 {background-color: #1b385d; width: 20%;}
.BodyDivOnly {background-color: gray; align-items: center; text-align: center; }
.BodyDiv1Only {background-color: #1b385d; margin-left: 15%; margin-right: 15%; }

/* ShowCase CSS */
.BodyShowCase {background-color: #1b385d; }
.projects {display: flex; flex-wrap: wrap; justify-content: center; }
.ShowCaseTitle {font-size: 21px; color: white; }

/* Links CSS */
.links {
    background-color: #1b385d;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Howling Haven CSS */
.BodyDivHaven {
    background-color: gray; 
    align-items: center; 
    text-align: center; 
    display: flex; 
    margin-top: 15px; 
    justify-content: center;
}
/* Bar Nav*/
ul {position: -webkit-sticky; position: sticky; list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #333; }
li {float: left;}
li a {display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none; }
/* Change the link color to #111 (black) on hover */
li a:hover {background-color: #111; }
/* Active/Current Page*/
.active {background-color: darkblue; }