/* Page */

/* Mobile Device Adjustment */
@media only screen and (max-width: 768px) {
    .element-to-hide {display: none;}
}

/* Fonts */
@font-face {
    font-family: "GaMaamli"; /* Give your font a unique name */
    src: url('../src/fonts/GaMaamli-Regular.ttf'); /* Adjust the path and format as needed */
}
@font-face {
    font-family: "Wolfen-Regular";
    src: url('../src/fonts/Wolfen-Regular.ttf');
}

/* Text */
.PageTitle {color: brown; font-size: 50px;}
.BarTitle {color: white; text-align: center;}
.barmenu {background-color: gray;}
.BodyTitle {color: white; font-family: Wolfen;}
.BodyTitleSub {color: white; font-size: 17px; margin-top: -7%;}
.BodyText {color: white; font-size: 18px; margin-left: 10px; margin-right: 10px;}
.WIP {
    text-align: center;
    font-family: GaMaamli;
    text-shadow: -2px -2px 0 #ff9326, 2px 2px 0 #ff9326;
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: -10px;
}

/* HR */
.DivHR {border: 2px solid gray; width: 100%; margin: 1px 0;}
.DivHR2 {border: 1px solid black; width: 99%; margin: 2px 0;}

/* Div */
.BodyDiv {background-color: gray; align-items: center; text-align: center; display: flex; margin-top: 15px; justify-content: center;}
.BodyDiv1 {background-color: #1b385d; width: 20%; margin-top: 1%; margin-bottom: 1%;}
.BodyDiv2 {background-color: #1b385d; width: 20%; margin-left: .5%; margin-top: 1%; margin-bottom: 1%;}

.BodyDivOnly {background-color: gray; align-items: center; text-align: center;}
.BodyDiv1Only {background-color: #1b385d; margin-left: 15%; margin-right: 15%;}

/* ChangeLog CSS */
.HomeChangeLog {background-color: cornflowerblue; align-items: center; text-align: center; margin-top: 2%; align-content: center; display: flex; justify-content: center;}
.ChangeLog {background: #1b385d; margin-left: 0.5%;}
.ChangeLi {color: white; font-size: 21px;}
.ChangeUl {margin-top: -7%;}

/* ShowCase CSS */
.BodyShowCase {background-color: #1b385d;}
.projects {display: flex; flex-wrap: wrap; justify-content: center;}
.ShowCaseTitle {font-size: 21px; color: white;}

/* Links CSS */
.links {background-color: #1b385d; display: flex; flex-wrap: wrap; justify-content: center;}

/* Howling Haven CSS */
.BodyDivHaven {
    background-color: gray; 
    align-items: center; 
    text-align: center; 
    display: flex; 
    margin-top: 15px; 
    justify-content: center;
}
/* Bar Nav */
.BarNavul {position: -webkit-sticky; position: sticky; list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #333;}
.BarNavli {float: left;}
.BarNavli a {display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;}
/* Change the link color to #111 (black) on hover */
.BarNavli a:hover {background-color: #111;}
/* Active/Current Page */
.active {background-color: darkblue;}